flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Firebase 보안 설정
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# 개인 설정 및 환경 변수
.env
.DS_Store
